{% extends 'base.html' %}

{% block title %}
Set new Password
{% endblock %}

{% block content %}
    <h1>
        Set new password
    </h1>
    {% if validlink %}
    <div style='color:red; text-align:left;'><b>{{ form.errors }}</b></div>
    <div style='color:red; text-align:left;'><b>{{ form.non_field_errors }}</b></div>
    <form method='POST'>
        {% csrf_token %}
        {% for field in form %}
            <p>{{ field.label }} - {{ field }}</p>
        {% endfor %}
        <button type='submit'>Save</button>
    </form>
    {% else %}
    <p style="color:red;">Invalid Link</p>
    <p>
        <a href="{% url 'password_reset' %}">Request new password reset token</a>
    </p>
{% endif %}
{% endblock %}