<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body style='text-align: center;'>
    <h1><u>{{ date }}</u></h1>
    {% block onlylist %}

    {% endblock %}
    <hr>
    / <a href='{% url 'list' %}'>Home</a> / 
    {% if not request.user.is_authenticated %}
        <a href="{% url 'signup' %}">Sign Up</a> / 
        <a href="{% url 'login' %}">Log In</a> / 
    {% else %}
        <a href='{% url 'create' %}'>New revision</a> / 
        <a href='{% url 'todo' %}'>New Todo</a> / 
        <a href='{% url 'reminder' %}'>New Reminder</a> /
        <a href="{% url 'password_change' %}">Change Password</a> / 
        <a href="{% url 'logout' %}" style='color: red;'>Log Out</a> / 
    {% endif %}
    <hr><br><br><br>
    {% block content %}

    {% endblock %}
    {% block onlylist2 %}

    {% endblock %}
</body>
</html>